.wrapper {
  background-color: #05400b;
  width: 100%;
  height: 100vh;
}
.header {
  padding-left: 10px;
  padding-top: 5px;
  color: whitesmoke;
  background-color: #30822c;
  height: 50px;
}
.form {
  margin: 0 auto;
  width: 500px;
}
.imageList {
  margin: 0 auto;
  width: 500px;
}
